<nav>
    <div>
        <h1>Website</h1>
        <p>A website for everybody</p>
    </div>
    <div class="content">
        <ul>
            <li><a href="/">Blogs </a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">create</a></li>
        </ul>
    </div>
        
</nav>