
<html>
    <%- include('./partials/head.ejs') %>
    
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about-page">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vel labore accusamus repellat voluptatem hic quo magni 
                ullam tempora, facere tempore qui vitae eligendi ipsam veniam sint dolorum aspernatur laudantium.</p>
        </div>
    </body>
</html>